@page "/topics"
@attribute [Authorize]
@using static Common.TitleExtension
@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Topic

@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Темы")</Title>

<h3 class="card-header d-flex justify-content-between align-items-center">
    Список тем
    <a href="/topics/add" class="btn btn-success">Добавить</a>
</h3>
@if (response is null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Персоны</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var topic in response.Items)
        {
            <tr>
                <td>@topic.Name</td>
                <td>
                    <details>
                        <summary>Количество персон: @(topic.People?.Count ?? 0), Средний рейтинг: @(topic.People.Count == 0 ? 0 : topic.People.Average(p => p.Rate))</summary>
                        <div class="@(topic.People.Count == 0 ? "collapse" : "")">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Полное имя</th>
                                    <th>Локация</th>
                                    <th>Информация</th>
                                    <th>Ссылки</th>
                                    <th class="text-center actions-header">Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var person in topic.People)
                                {
                                    <tr>
                                        <td>@person.FullName (@person.Rate)</td>
                                        <td>@person.Location</td>
                                        <td>@person.Info</td>
                                        <td>
                                            @foreach (var resource in person.Resources)
                                            {
                                                <div>
                                                    <a href="@resource.Url" target="_blank">@resource.Name</a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </details>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private GetTopicsResponse response;

    protected override async Task OnInitializedAsync()
    {
        response = await GetTopicsInfo();
    }

    private async Task PersonsInfoUpdate()
    {
        response = await GetTopicsInfo();
    }

    private async Task<GetTopicsResponse> GetTopicsInfo()
    {
        return await ApiClient.Get<GetTopicsResponse>(TokenProvider, "topics");
    }

}