@using Pds.Web.Common
@using Pds.Core.Extensions
@using Pds.Api.Contracts.Controllers.Client
@using Pds.Core.Enums

@namespace Pds.Web.Pages.Clients.Components


@if (Item.PaymentType != null)
{
    <i class="payment-type @ClientsHelper.GetPaymentTypeBgColorClass(Item.PaymentType)">
        @EnumsTranslator.PaymentTypeToShortRu(Item.PaymentType)
    </i>
}

<b>
    $@Item.Value.ToString("N0")
</b>


@switch (Item.PaymentStatus)
{
    case PaymentStatus.Paid when Item.PaidAt != null:
        <span> / оплачено: @Item.PaidAt.Value.ToLongStringDate()</span>
        break;
    case PaymentStatus.NotPaid when Item.CreatedAt != null:
        <span> / создано: @Item.CreatedAt.Value.ToLongStringDate()</span>
        break;
}

@if (Item.IsNeedPayNds)
{
    <span class="nds">с НДС</span>
}

@if (Item.PaymentType != null)
{
    if (!string.IsNullOrWhiteSpace(Item.Comment))
    {
        <div class="bill-comment">
            <i>Комментарий:</i> @Item.Comment
        </div>
    }
}

@if (!string.IsNullOrWhiteSpace(Item.ContractNumber))
{
    <div class="bill-comment">
        <i>Контракт:</i> <b>@Item.ContractNumber</b>
        @if (Item.ContractDate != null)
        {
            <span> / @Item.ContractDate.Value.ToLongStringDate()</span>
        }
    </div>
}

@code {
    [Parameter]
    public IClientForBill Item { get; set; }
}
