@inherits PagingComponentModel

<nav class="col">
    <ul class="pagination">
        @foreach (var page in pages)
        {
            <li class="page-item">
                <button class="btn btn-paging
                    @(page.Active ? "btn-primary" : "btn-outline-primary")
                    @(page.Enabled ? null : "disabled")"
                        @onclick="@(() => OnChangePage(page))">
                    @(page.Text)
                </button>
            </li>
        }
        <li>
            <select class="btn page-size-selector" @onchange="@OnChangePageSize">
                @foreach (var pageSize in PageSizeList)
                {
                    <option class="paging-item" value="@pageSize">@pageSize</option>
                }
            </select>
        </li>
    </ul>
</nav>
