@page "/brands"
@inherits BasePageComponent
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Web.Common
@using Pds.Api.Contracts.Brand
@using Pds.Core.Extensions
@using static Pds.Web.Common.TitleExtension

@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Бренды")</Title>

<h4 class="card-header d-flex justify-content-between align-items-center">
    Список брендов
    <a href="/brands/add" class="btn btn-success">Добавить</a>
</h4>
@if (brandsInfo == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="client-name-header">Наименование</th>
                <th>Информация</th>
                <th class="text-center actions-header">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in brandsInfo.Items.OrderBy(b=>b.Name))
            {
                <tr>
                    <td class="client-name-row">
                        <div>@brand.Name</div>
                    </td>
                    <td>
                        <div>
                            @if (brand.ContentsCount > 0)
                                {
                                    <span class="contents">
                                        К: @brand.ContentsCount
                                    </span>
                                }
                                @if (brand.PersonsCount > 0 )
                                {
                                    <span class="contents">
                                        П: @brand.PersonsCount
                                    </span>
                                }
                                @if (brand.GiftsCount > 0 )
                                {
                                    <span class="contents">
                                        G: @brand.GiftsCount
                                    </span>
                                }
                                @if (brand.BillsSum > 0)
                                {
                                    <span class="contents">
                                        Д: @($"{brand.BillsSum:N0}")
                                    </span>
                                }
                                @if (brand.CostsSum > 0)
                                {
                                    <span class="contents">
                                        Р: @($"{brand.CostsSum:N0}")
                                    </span>
                                }
                        </div>
                        <div>  
                            Создан: @brand.CreatedAt.ToLongStringDate()
                        </div>
                        @if (brand.UpdatedAt != null)
                        {
                            <div>  
                                Изменен: @brand.UpdatedAt.Value.ToLongStringDate()
                            </div>
                        }
                        <div class="comment-row">
                            @brand.Info
                        </div>
                    </td>
                    <td class="text-center">
                        <Actions OnBrandUpdate="@OnBrandUpdate" CurrentBrand="@brand"></Actions>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GetBrandsResponse brandsInfo;

    protected override async Task OnInitializedAsync()
    {
        brandsInfo = await GetBrands();
    }

    private async Task OnBrandUpdate()
    {
        brandsInfo = await GetBrands();
    }

    private async Task<GetBrandsResponse> GetBrands()
    {
        return await ApiClient.Get<GetBrandsResponse>(TokenProvider, "brands");
    }
}