@page "/content"
@inherits BasePageComponent
@using Pds.Api.Contracts.Content
@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Core.Enums
@using Pds.Web.Common.Models.Content
@using static Pds.Web.Common.TitleExtension 
@using System.Linq
@using System.Diagnostics
@using Pds.Core.Extensions

@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Контент")</Title>

<h4 class="card-header d-flex justify-content-between align-items-center">
    Лента контента
    <a href="/content/add" class="btn btn-success" >Добавить</a>
</h4>
@if (content == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <Filter OnFilterUpdate="@FilterUpdatedAsync"></Filter>
    <table class="table">
        <thead>
        <tr>
            <th class="release-date-header">Когда</th>
            <th>Название</th>
            <th>Клиент</th>
            <th>Соцсеть</th>
            <th>Тип</th>
            <th class="bill-cost-header">Сколько</th>
            <th class="text-center actions-header">Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in content.Items.Where(i => i.IsVisible))
        {
            <tr class="@ContentHelper.GetContentBgColorClass(item.Status, item.Bill)">
                <td class="release-date-row">
                    <span>
                        @item.ReleaseDateUtc.Date.ToShortStringDateWithDay()
                    </span>
                </td>
                <td class="title-row">
                    <a href="content/@item.Id">@item.Title</a>
                </td>
                <td>
                    @item.ClientName
                </td>
                <td>
                    @EnumsTranslator.SocialMediaTypeToRu(item.SocialMediaType)
                </td>
                <td>
                    @EnumsTranslator.ContentTypeToRu(item.Type)
                </td>
                <td class="bill-cost-row">
                    @if (item.Bill != null)
                    {
                        if (item.Bill.PaymentType != null)
                        {
                            <i class="@ContentHelper.GetPaymentTypeBgColorClass(item.Bill.PaymentType)">
                                @EnumsTranslator.PaymentTypeToShortRu(item.Bill.PaymentType)
                            </i>
                        }
                        <span>@item.Bill.Value.ToString("N0")</span> 
                    }
                    else
                    {
                        <span class="free-cost">бесплатно</span> 
                    }
                </td>
                <td class="text-center actions-row">
                    <Actions OnContentUpdate="@ContentInfoUpdate" CurrentContent="@item"></Actions>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private GetContentsResponse content;

    protected override async Task OnInitializedAsync()
    {
        content = await GetContentsResponse();
    }

    private async Task ContentInfoUpdate()
    {
        content = await GetContentsResponse();
    }

    private void FilterUpdatedAsync(FilterSettings filterSettings)
    {
        var isAnySmSelected = filterSettings.SocialMediaFilterItems.Any(sm => sm.IsSelected);
        foreach (var item in content.Items)
        {
            foreach (var smType in (SocialMediaType[])Enum.GetValues(typeof(SocialMediaType)))
            {
                if (item.SocialMediaType == smType)
                {
                    if (!isAnySmSelected)
                    {
                        item.IsVisible = true;
                    }
                    else
                    {
                        item.IsVisible = filterSettings.SocialMediaFilterItems
                            .First(sm => sm.SocialMediaType == smType).IsSelected;
                    }
                }
            }
        }
    }

    private async Task<GetContentsResponse> GetContentsResponse()
    {
        return await ApiClient.Get<GetContentsResponse>(TokenProvider, "content");
    }
}