@page "/persons"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Person
@using Pds.Web.Common
@using Api.Contracts.Paging
@using static Pds.Web.Common.TitleExtension


@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Персоны")</Title>

<h3 class="card-header d-flex justify-content-between align-items-center">
    Список персон
    <a href="/persons/add" class="btn btn-success">Добавить</a>
</h3>
@if (personsInfo == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <CascadingValue Value="isPagingStateHasChanged">
        <PagingComponent PageSizeList="pageSizesList"
                         TotalItems="personsInfo.Total"
                         Radius="2"
                         Pagination="Pagination" />
    </CascadingValue>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <SortingComponent OnSortPersons="SortPersons"
                                      FieldName="PersonsFieldName.FullName">Полное имя</SortingComponent>
                </th>
                <th>
                    <SortingComponent OnSortPersons="SortPersons"
                                      FieldName="PersonsFieldName.Location">Локация</SortingComponent>
                </th>
                <th>Информация</th>
                <th>Ссылки</th>
                <th class="text-center actions">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in personsList)
            {
                <tr>
                    <td>@person.FullName (@person.Rate)</td>
                    <td>@person.Location</td>
                    <td>@person.Info</td>
                    <td>
                        @foreach (var resource in person.Resources)
                        {
                            <div>
                                <a href="@resource.Url" target="_blank">@resource.Name</a>
                            </div>}
                    </td>
                    <td class="text-center">
                        <Actions OnPersonUpdate="@PersonsInfoUpdate" CurrentPerson="@person"></Actions>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GetPersonsResponse personsInfo;
    private PersonDto[] personsList;
    private readonly int[] pageSizesList = { 5, 10, 25, 50 };
    private bool isPagingStateHasChanged;
    private PageSettings pageSettings;
    private OrderSetting<PersonsFieldName>[] orderSettings;

    protected override async Task OnInitializedAsync()
    {
        pageSettings = new PageSettings
        {
            Limit = pageSizesList[0],
            Offset = 0
        };

        orderSettings = new[]
        {
            new OrderSetting<PersonsFieldName>()
        };

        await PersonsInfoUpdate();
        GetPersonsList();

    }

    private async Task PersonsInfoUpdate()
    {
        personsInfo = await GetPersonsInfo();
    }

    private void GetPersonsList()
    {
        personsList = personsInfo.Items.Skip(pageSettings.Offset).Take(pageSettings.Limit).ToArray();
    }

    private async Task<GetPersonsResponse> GetPersonsInfo()
    {
        return await ApiClient.Get<GetPersonsResponse>(TokenProvider, "persons");
    }

    //private async Task<GetPersonsResponse> GetPersonsInfo()
    //{
    //    var request = new GetPersonsRequest
    //    {
    //        PageSettings = pageSettings,
    //        OrderSettings = orderSettings
    //    };

    //    var response = await ApiClient.Post<GetPersonsResponse, GetPersonsRequest>(TokenProvider, "persons/search", request);

    //    return response.Payload;
    //}

    private void Pagination(PagingEventArgs eventArgs)
    {
        pageSettings = new PageSettings
        {
            Limit = eventArgs.PageSize,
            Offset = eventArgs.PageOffSet
        };

        GetPersonsList();
    }

    private async Task SortPersons(SortingEventArgs eventArgs)
    {
        isPagingStateHasChanged = true;
        pageSettings.Offset = 0;

        var newOrderSettings = new List<OrderSetting<PersonsFieldName>>();

        newOrderSettings.Add(new OrderSetting<PersonsFieldName>
        {
            Ascending = eventArgs.Ascending,
            FieldName = eventArgs.FieldName
        });
        orderSettings = newOrderSettings.ToArray();

        personsInfo = await GetPersonsInfo();
        isPagingStateHasChanged = default;
    }
}