@page "/bills/{billId}/edit"
@inherits BasePageComponent
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts
@using Pds.Core.Enums
@using Pds.Web.Common
@using static Pds.Web.Common.TitleExtension 
@using AutoMapper
@using Pds.Api.Contracts.Controllers
@using Pds.Api.Contracts.Controllers.Bill
@using Pds.Api.Contracts.Controllers.Bill.EditBill
@using Pds.Api.Contracts.Controllers.Bill.GetBill

@inject NavigationManager NavigationManager
@inject IApiClient ApiClient
@inject IMapper Mapper
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Редактирование дохода")</Title>

@if (bill == null || brands == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <h4 class="card-header d-flex justify-content-between align-items-center">
        Редактирование дохода
        <button @onclick="GoBack" class="btn btn-primary"> Назад </button>
    </h4>
    @if (bill.Content?.Id != null && bill.Content.Title != null)
    {
        <div class="form-group">
            Контент: <a class="custom-link" href="content/@bill.Content.Id">@bill.Content.Title</a>
        </div>
    }
    <EditForm EditContext="@editContext" OnSubmit="@HandleSubmitAsync">
        <div class="form-group">
            <InputRadioGroup Name="brand" @bind-Value="bill.BrandId">
                @foreach (var brand in brands)
                {
                    var id = $"brand_{brand.Id.ToString()}";
                    <InputRadio Name="brand" class="btn-check" Value="brand.Id" Id="@id"/>
                    <label class="btn btn-secondary" for="@id">@brand.Name</label>
                }
            </InputRadioGroup>
        </div>
        
        <div class="form-group">
            <InputRadioGroup Name="bill-type" @bind-Value="bill.Type">
                @foreach (var billType in (BillType[])Enum
                    .GetValues(typeof(BillType)))
                {
                    var id = $"bill_type_{billType.ToString()}";
                    <InputRadio Name="bill-type" class="btn-check" Value="billType" Id="@id"/>
                    <label class="btn btn-secondary" for="@id">
                        @EnumsTranslator.BillTypeToRu(billType)
                    </label>
                }
            </InputRadioGroup>
        </div>
        
        <div class="form-group">
            <InputRadioGroup Name="payment-type" @bind-Value="bill.PaymentType">
                @foreach (var paymentType in (PaymentType[])Enum
                    .GetValues(typeof(PaymentType)))
                {
                    var id = $"payment_type_{paymentType.ToString()}";
                    <InputRadio Name="payment-type" class="btn-check" Value="paymentType" Id="@id"/>
                    <label class="btn btn-secondary" for="@id">
                        @EnumsTranslator.PaymentTypeToRu(paymentType)
                    </label>
                }
            </InputRadioGroup>
        </div>
        
        @if (bill.PaymentType == PaymentType.BankAccount)
        {
            <div class="form-group">
                <label for="contract_number" class="form-label">Номер договора:</label>
                <InputText class="form-control pay-date" id="contract_number" @bind-Value="bill.ContractNumber"/>

                <label for="contract_date" class="form-label">Дата договора:</label>
                <InputDate class="form-control pay-date" id="contract_date" @bind-Value="bill.ContractDate"/>
            </div>
        }

        <div class="form-group">
            <label for="bill_value" class="form-label  label-required">Финальная стоимость USD:</label>
            <InputNumber class="form-control bill-value" id="bill_value" @bind-Value="bill.Value"/>

            <label for="bill_date" class="form-label  label-required">Дата оплаты:</label>
            <InputDate class="form-control bill-date" id="bill_date" @bind-Value="bill.PaidAt"/>

            @if (bill.PaymentType == PaymentType.BankAccount)
            {
                <InputCheckbox name="is_nds" class="btn-check" @bind-Value="bill.IsNeedPayNds" Id="is_nds"/>
                <label for="is_nds" class="btn btn-secondary">Включая НДС</label>
            }
        </div>

        <div class="form-group">
            <label for="comment" class="form-label">Комментарий</label>
            <InputTextArea class="form-control" id="comment" @bind-Value="bill.Comment" rows="3"/>
        </div>

        <div class="form-group">
            <label for="clients" class="form-label">Клиент</label>
            <InputSelect class="form-control" id="clients" @bind-Value="bill.ClientId">
                @foreach (var client in clients)
                {
                    if (client.Id == bill.ClientId)
                    {
                        
                        <option value="@client.Id" selected>@client.Name</option>
                    }
                    else
                    {
                        
                        <option value="@client.Id">@client.Name</option>
                    }
                }
            </InputSelect>
        </div>
        
        @if (bill.ClientId != null && bill.ClientId != Guid.Empty)
        {
            <div class="form-group multi-group">
                <div class="multi-group-block">
                    <label for="bill_contact_name" class="form-label label-required">ФИО представителя клиента</label>
                    <InputText class="form-control" id="bill_contact_name" @bind-Value="bill.ContactName"/>
                </div>
                
                <div class="multi-group-block">
                    <label for="bill_contact_name" class="form-label">Емейл представителя клиента</label>
                    <InputText class="form-control" id="bill_contact_name" @bind-Value="bill.ContactEmail"/>
                </div>
            </div>

            <div class="form-group">
                <label for="bill_contact" class="form-label">Контакт представителя клиента</label>
                <InputText class="form-control" id="bill_contact" @bind-Value="bill.Contact"/>
                <div class="contact-type">
                    <InputRadioGroup Name="contact-type" @bind-Value="bill.ContactType">
                        @foreach (var type in (ContactType[])Enum
                            .GetValues(typeof(ContactType)))
                        {
                            var id = $"contact-type{type.ToString()}";
                            <InputRadio Name="contact-type" class="btn-check" Value="type" id="@id"/>
                            <label class="btn btn-secondary btn-sm" for="@id">
                                @EnumsTranslator.ContactTypeToRu(type)
                            </label>
                        }
                    </InputRadioGroup>
                </div>
            </div>
        }

        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success" disabled="@isSaveButtonDisabled">Сохранить</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public string BillId { get; set; }
    private EditBillRequest bill;
    private EditContext editContext;
    private ValidationMessageStore msgStore;
    private bool isSaveButtonDisabled;
    private List<BrandDto> brands;
    private List<ClientForLookupDto> clients;
    
    protected override async Task OnInitializedAsync()
    {
        isSaveButtonDisabled = false;
        bill = await GetBillAsync();
        brands = await GetBrandsAsync();
        clients = await GetClientsAsync();
        editContext = new EditContext(bill);
        msgStore = new ValidationMessageStore(editContext);
    }
    
    private async Task HandleSubmitAsync()
    {
        msgStore.Clear();
        var isValid = editContext.Validate();

        if (isValid)
        {
            isSaveButtonDisabled = true;
            var result = await ApiClient.Put<object, EditBillRequest>(TokenProvider, "bills", bill);
            isSaveButtonDisabled = false;
            if (result.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/bills");
            }
            else
            {
                result.AddErrors(msgStore, editContext);
            }
        }
    }

    private async Task<List<BrandDto>> GetBrandsAsync()
    {
        return await ApiClient.Get<List<BrandDto>>(TokenProvider, "bills/get-brands");
    }

    private async Task<EditBillRequest> GetBillAsync()
    {
        var clientResponse = await ApiClient.Get<GetBillResponse>(TokenProvider, $"bills/{BillId}");
        return Mapper.Map<EditBillRequest>(clientResponse);
    }

    private async Task<List<ClientForLookupDto>> GetClientsAsync()
    {
        return await ApiClient.Get<List<ClientForLookupDto>>(TokenProvider, "bills/get-clients");
    }
}