@page "/content"
@attribute [Authorize]
@using Pds.Api.Contracts.Content
@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using static Pds.Web.Common.TitleExtension 

@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Контент")</Title>

<h3 class="card-header d-flex justify-content-between align-items-center">
    Лента контента
    <a href="/content/add" class="btn btn-success" >Добавить</a>
</h3>
@if (content == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Тип</th>
            <th>Соцсеть</th>
            <th>Когда</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in content.Items)
        {
            <tr>
                <td>
                    @item.Title 
                </td>
                <td>
                    @item.Type.ToString()
                </td>
                <td>
                    @item.SocialMediaType.ToString()
                </td>
                <td>
                    @item.ReleaseDateUtc
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private GetContentResponse content;

    protected override async Task OnInitializedAsync()
    {
        content = await ApiClient.Get<GetContentResponse>(TokenProvider, "content");
    }
}