@page "/persons"
@attribute [Authorize] 
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using Pds.Api.Contracts.Person

@inject HttpClient Http
@inject IConfiguration Configuration
@inject IAccessTokenProvider TokenProvider

<h1>Список персон</h1>
<a href="/persons/add" class="btn btn-success" >Добавить персону</a>
@if (personsInfo == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Полное имя</th>
            <th>Локация</th>
            <th>Информация</th>
            <th>Ссылки</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in personsInfo.Items)
        {
            <tr>
                <td>@person.FullName (@person.Rate)</td>
                <td>@person.Location</td>
                <td>@person.Information</td>
                <td>
                    @foreach (var resource in person.Resources)
                    {
                        <div>
                            <a href="@resource.Url" target="_blank">@resource.Name</a>
                        </div>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private GetPersonsResponse personsInfo;

    protected override async Task OnInitializedAsync()
    {
        var backendApiUrl = Configuration["BackendApi:Url"];
        using var requestMessage = new HttpRequestMessage(HttpMethod.Get, $"{backendApiUrl}/api/persons");
        var tokenResult = await TokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token)) {
            requestMessage.Headers.Authorization = 
                new AuthenticationHeaderValue("Bearer", token.Value);
            var response = await Http.SendAsync(requestMessage);
            personsInfo = await response.Content.ReadFromJsonAsync<GetPersonsResponse>();
        }
    }
}